{% extends "base.html" %}

{% block titulo %}/Carrinho{% endblock %}

{% block content %}

<section class="container py-5">

    <h1>Meu Carrinho</h1>

    <hr>

    {% if produtos %}

    {% for produto in produtos %}

    <div class="row mb-4 align-items-center">

        <div class="col-2">

            <img src="{{ url_for('static', filename=produto.imagem) }}" class="img-fluid">

        </div>

        <div class="col">

            <h4>{{ produto.nome }}</h4>

            <div>

                <a href="{{ url_for('diminuir', id_item=produto.id) }}" class="btn btn-sm btn-outline-dark">

                    -

                </a>

                <span class="mx-2">

                    {{ produto.quantidade }}

                </span>

                <a href="{{ url_for('aumentar', id_item=produto.id) }}" class="btn btn-sm btn-outline-dark">

                    +

                </a>

            </div>

            <p>
                R$ {{ produto.preco }}
            </p>

            <p>
                Subtotal:
                R$ {{ produto.subtotal }}
            </p>

            <a href="{{ url_for('remover_carrinho', id_item=produto.id) }}" class="btn btn-outline-danger">

                Remover

            </a>

        </div>

    </div>

    <hr>

    {% endfor %}

    <h3>

        Total:
        R$ {{ total }}

    </h3>

    {% else %}

    <h4>

        Seu carrinho está vazio

    </h4>

    {% endif %}

</section>

{% endblock %}