{% extends "base.html" %}

{% block titulo %}/Carrinho{% endblock %}

{% block content %}

<section class="container carrinho-section">

    <h1 class="mb-4">Meu Carrinho</h1>

    {% if produtos %}

    {% for produto in produtos %}

    <div class="row align-items-center carrinho-item">

        <!-- IMAGEM -->
        <div class="col-2">
            <img src="{{ url_for('static', filename=produto.imagem) }}" class="rounded">
        </div>

        <!-- INFO -->
        <div class="col">

            <h4>{{ produto.descricao }}</h4>

            <!-- QUANTIDADE -->
            <div class="carrinho-quantidade mb-2">

                <a href="{{ url_for('diminuir', id_item=produto.id) }}" class="btn btn-sm btn-outline-dark">-</a>

                <span class="fw-bold">{{ produto.quantidade }}</span>

                <a href="{{ url_for('aumentar', id_item=produto.id) }}" class="btn btn-sm btn-outline-dark">+</a>

            </div>

            <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>

            <p><strong>Subtotal:</strong> R$ {{ produto.subtotal }}</p>

            <a href="{{ url_for('remover_carrinho', id_item=produto.id) }}" class="btn btn-outline-danger btn-sm">
                Remover
            </a>

        </div>

    </div>

    {% endfor %}

    <!-- TOTAL -->
    <div class="carrinho-total">

        <h3>Total: R$ {{ total }}</h3>

        <form action="{{ url_for('finalizar_compra') }}" method="POST">
            <button type="submit" class="btn btn-dark">
                Finalizar compra
            </button>
        </form>

    </div>

    {% else %}

    <h4>Seu carrinho está vazio</h4>

    {% endif %}

</section>

{% endblock %}