{% extends "base.html" %}

{% block titulo %}/Home{% endblock %}

{% block content %}
<section>

    <div>
        <h1 class="titulo-categoria">BOLSAS</h1>

        <section class="container py-5">

            <div class="row row-cols-2 row-cols-md-3 g-4">

                <div class="col">
                    <img src="{{ url_for('static', filename='imagens/bolsas/bolsa_1.png') }}" class="categoria-img"
                        alt="Bolsa">
                </div>

                <div class="col">
                    <img src="{{ url_for('static', filename='imagens/bolsas/bolsa_2.png') }}" class="categoria-img"
                        alt="Bolsa">
                </div>

                <div class="col">
                    <img src="{{ url_for('static', filename='imagens/bolsas/bolsa_3.png') }}" class="categoria-img"
                        alt="Bolsa">
                </div>

                <div class="col">
                    <img src="{{ url_for('static', filename='imagens/bolsas/bolsa_4.png') }}" class="categoria-img"
                        alt="Bolsa">
                </div>

                <div class="col">
                    <img src="{{ url_for('static', filename='imagens/bolsas/bolsa_5.png') }}" class="categoria-img"
                        alt="Bolsa">
                </div>

                <div class="col">
                    <img src="{{ url_for('static', filename='imagens/bolsas/bolsa_6.png') }}" class="categoria-img"
                        alt="Bolsa">
                </div>

            </div>




            <div>
                <h1 class="titulo-categoria">CALÇAS</h1>

                <section class="container py-5">

                    <div class="row row-cols-2 row-cols-md-3 g-4">

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/calcas/calca_1.png') }}"
                                class="categoria-img" alt="Calça">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/calcas/calca_2.png') }}"
                                class="categoria-img" alt="Calça">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/calcas/calca_3.png') }}"
                                class="categoria-img" alt="Calça">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/calcas/calca_4.png') }}"
                                class="categoria-img" alt="Calça">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/calcas/calca_5.png') }}"
                                class="categoria-img" alt="Calça">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/calcas/calca_6.png') }}"
                                class="categoria-img" alt="Calça">
                        </div>

                    </div>

                </section>

            </div>




            <div>
                <h1 class="titulo-categoria">CAMISAS</h1>

                <section class="container py-5">

                    <div class="row row-cols-2 row-cols-md-3 g-4">

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/camisas/camisa_1.png') }}"
                                class="categoria-img" alt="Camisa">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/camisas/camisa_2.png') }}"
                                class="categoria-img" alt="Camisa">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/camisas/camisa_3.png') }}"
                                class="categoria-img" alt="Camisa">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/camisas/camisa_4.png') }}"
                                class="categoria-img" alt="Camisa">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/camisas/camisa_5.png') }}"
                                class="categoria-img" alt="Camisa">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/camisas/camisa_6.png') }}"
                                class="categoria-img" alt="Camisa">
                        </div>

                    </div>

                </section>

            </div>




            <div>
                <h1 class="titulo-categoria">CASACOS</h1>

                <section class="container py-5">

                    <div class="row row-cols-2 row-cols-md-3 g-4">

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/casacos/casaco_1.png') }}"
                                class="categoria-img" alt="casaco">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/casacos/casaco_2.png') }}"
                                class="categoria-img" alt="casaco">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/casacos/casaco_3.png') }}"
                                class="categoria-img" alt="casaco">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/casacos/casaco_4.png') }}"
                                class="categoria-img" alt="casaco">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/casacos/casaco_5.png') }}"
                                class="categoria-img" alt="casaco">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/casacos/casaco_6.png') }}"
                                class="categoria-img" alt="casaco">
                        </div>

                    </div>




                    <div>
                        <h1 class="titulo-categoria">SAPATOS</h1>

                        <section class="container py-5">

                            <div class="row row-cols-2 row-cols-md-3 g-4">

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/sapatos/sapato_1.png') }}"
                                        class="categoria-img" alt="sapato">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/sapatos/sapato_2.png') }}"
                                        class="categoria-img" alt="sapato">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/sapatos/sapato_3.png') }}"
                                        class="categoria-img" alt="sapato">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/sapatos/sapato_4.png') }}"
                                        class="categoria-img" alt="sapato">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/sapatos/sapato_5.png') }}"
                                        class="categoria-img" alt="sapato">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/sapatos/sapato_6.png') }}"
                                        class="categoria-img" alt="sapato">
                                </div>

                            </div>



                        </section>

                    </div>



                </section>



                {% endblock %}