{% extends "base.html" %}

{% block titulo %}/Home{% endblock %}

{% block content %}
<section>

    <div>
        <h1 id="bolsas" class="titulo-categoria">BOLSAS</h1>

        <section class="container py-5">

            <div class="row row-cols-2 row-cols-md-3 g-4">

                <div class="col">
                    <img src="{{ url_for('static', filename='imagens/bolsas/bolsa_1.png') }}" class="categoria-img"
                        alt="Bolsa">
                </div>

                <div class="col">
                    <img src="{{ url_for('static', filename='imagens/bolsas/bolsa_2.png') }}" class="categoria-img"
                        alt="Bolsa">
                </div>

                <div class="col">
                    <img src="{{ url_for('static', filename='imagens/bolsas/bolsa_3.png') }}" class="categoria-img"
                        alt="Bolsa">
                </div>

                <div class="col">
                    <img src="{{ url_for('static', filename='imagens/bolsas/bolsa_4.png') }}" class="categoria-img"
                        alt="Bolsa">
                </div>

                <div class="col">
                    <img src="{{ url_for('static', filename='imagens/bolsas/bolsa_5.png') }}" class="categoria-img"
                        alt="Bolsa">
                </div>

                <div class="col">
                    <img src="{{ url_for('static', filename='imagens/bolsas/bolsa_6.png') }}" class="categoria-img"
                        alt="Bolsa">
                </div>

            </div>




            <div>
                <h1 id="calcas" class="titulo-categoria">CALÇAS</h1>

                <section class="container py-5">

                    <div class="row row-cols-2 row-cols-md-3 g-4">

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/calcas/calca_1.png') }}"
                                class="categoria-img" alt="Calça">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/calcas/calca_2.png') }}"
                                class="categoria-img" alt="Calça">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/calcas/calca_3.png') }}"
                                class="categoria-img" alt="Calça">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/calcas/calca_4.png') }}"
                                class="categoria-img" alt="Calça">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/calcas/calca_5.png') }}"
                                class="categoria-img" alt="Calça">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/calcas/calca_6.png') }}"
                                class="categoria-img" alt="Calça">
                        </div>

                    </div>

                </section>

            </div>




            <div>
                <h1 id="camisas" class="titulo-categoria">CAMISAS</h1>

                <section class="container py-5">

                    <div class="row row-cols-2 row-cols-md-3 g-4">

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/camisas/camisa_1.png') }}"
                                class="categoria-img" alt="Camisa">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/camisas/camisa_2.png') }}"
                                class="categoria-img" alt="Camisa">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/camisas/camisa_3.png') }}"
                                class="categoria-img" alt="Camisa">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/camisas/camisa_4.png') }}"
                                class="categoria-img" alt="Camisa">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/camisas/camisa_5.png') }}"
                                class="categoria-img" alt="Camisa">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/camisas/camisa_6.png') }}"
                                class="categoria-img" alt="Camisa">
                        </div>

                    </div>

                </section>

            </div>




            <div>
                <h1 id="casacos" class="titulo-categoria">CASACOS</h1>

                <section class="container py-5">

                    <div class="row row-cols-2 row-cols-md-3 g-4">

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/casacos/casaco_1.png') }}"
                                class="categoria-img" alt="casaco">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/casacos/casaco_2.png') }}"
                                class="categoria-img" alt="casaco">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/casacos/casaco_3.png') }}"
                                class="categoria-img" alt="casaco">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/casacos/casaco_4.png') }}"
                                class="categoria-img" alt="casaco">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/casacos/casaco_5.png') }}"
                                class="categoria-img" alt="casaco">
                        </div>

                        <div class="col">
                            <img src="{{ url_for('static', filename='imagens/casacos/casaco_6.png') }}"
                                class="categoria-img" alt="casaco">
                        </div>

                    </div>




                    <div>
                        <h1 id="sapatos" class="titulo-categoria">SAPATOS</h1>

                        <section class="container py-5">

                            <div class="row row-cols-2 row-cols-md-3 g-4">

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/sapatos/sapato_1.png') }}"
                                        class="categoria-img" alt="sapato">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/sapatos/sapato_2.png') }}"
                                        class="categoria-img" alt="sapato">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/sapatos/sapato_3.png') }}"
                                        class="categoria-img" alt="sapato">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/sapatos/sapato_4.png') }}"
                                        class="categoria-img" alt="sapato">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/sapatos/sapato_5.png') }}"
                                        class="categoria-img" alt="sapato">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/sapatos/sapato_6.png') }}"
                                        class="categoria-img" alt="sapato">
                                </div>

                            </div>



                        </section>

                    </div>





                    <div>
                        <h1 id="chapeus" class="titulo-categoria">CHAPÉUS</h1>

                        <section class="container py-5">

                            <div class="row row-cols-2 row-cols-md-3 g-4">

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/chapeus/chapeu_1.png') }}"
                                        class="categoria-img" alt="chapeu">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/chapeus/chapeu_2.png') }}"
                                        class="categoria-img" alt="chapeu">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/chapeus/chapeu_3.png') }}"
                                        class="categoria-img" alt="chapeu">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/chapeus/chapeu_4.png') }}"
                                        class="categoria-img" alt="chapeu">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/chapeus/chapeu_5.png') }}"
                                        class="categoria-img" alt="chapeu">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/chapeus/chapeu_6.png') }}"
                                        class="categoria-img" alt="chapeu">
                                </div>

                            </div>



                        </section>

                    </div>






                    <div>
                        <h1 id="pijamas" class="titulo-categoria">PIJAMAS</h1>

                        <section class="container py-5">

                            <div class="row row-cols-2 row-cols-md-3 g-4">

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/pijamas/pijama_1.png') }}"
                                        class="categoria-img" alt="pijama">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/pijamas/pijama_2.png') }}"
                                        class="categoria-img" alt="pijama">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/pijamas/pijama_3.png') }}"
                                        class="categoria-img" alt="pijama">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/pijamas/pijama_4.png') }}"
                                        class="categoria-img" alt="pijama">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/pijamas/pijama_5.png') }}"
                                        class="categoria-img" alt="pijama">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/pijamas/pijama_6.png') }}"
                                        class="categoria-img" alt="pijama">
                                </div>

                            </div>



                        </section>

                    </div>






                    <div>
                        <h1 id="cintos" class="titulo-categoria">CINTOS</h1>

                        <section class="container py-5">

                            <div class="row row-cols-2 row-cols-md-3 g-4">

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/cintos/cinto_1.png') }}"
                                        class="categoria-img" alt="cinto">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/cintos/cinto_2.png') }}"
                                        class="categoria-img" alt="cinto">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/cintos/cinto_3.png') }}"
                                        class="categoria-img" alt="cinto">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/cintos/cinto_4.png') }}"
                                        class="categoria-img" alt="cinto">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/cintos/cinto_5.png') }}"
                                        class="categoria-img" alt="cinto">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/cintos/cinto_6.png') }}"
                                        class="categoria-img" alt="cinto">
                                </div>

                            </div>



                        </section>

                    </div>



                    

                    <div>
                        <h1 id="maquiagens" class="titulo-categoria">MAQUIAGENS</h1>

                        <section class="container py-5">

                            <div class="row row-cols-2 row-cols-md-3 g-4">

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/maquiagens/maquiagem_1.png') }}"
                                        class="categoria-img" alt="maquiagem">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/maquiagens/maquiagem_2.png') }}"
                                        class="categoria-img" alt="maquiagem">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/maquiagens/maquiagem_3.png') }}"
                                        class="categoria-img" alt="maquiagem">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/maquiagens/maquiagem_4.png') }}"
                                        class="categoria-img" alt="maquiagem">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/maquiagens/maquiagem_5.png') }}"
                                        class="categoria-img" alt="maquiagem">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/maquiagens/maquiagem_6.png') }}"
                                        class="categoria-img" alt="maquiagem">
                                </div>

                            </div>



                        </section>

                    </div>



                    

                    <div>
                        <h1 id="joias" class="titulo-categoria">JOIAS</h1>

                        <section class="container py-5">

                            <div class="row row-cols-2 row-cols-md-3 g-4">

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/joias/joia_1.png') }}"
                                        class="categoria-img" alt="joia">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/joias/joia_2.png') }}"
                                        class="categoria-img" alt="joia">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/joias/joia_3.png') }}"
                                        class="categoria-img" alt="joia">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/joias/joia_4.png') }}"
                                        class="categoria-img" alt="joia">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/joias/joia_5.png') }}"
                                        class="categoria-img" alt="joia">
                                </div>

                                <div class="col">
                                    <img src="{{ url_for('static', filename='imagens/joias/joia_6.png') }}"
                                        class="categoria-img" alt="joia">
                                </div>

                            </div>



                        </section>

                    </div>






                </section>



                {% endblock %}