{% extends "base.html" %}

{% block titulo %}/Catálogo{% endblock %}

{% block content %}

<section class="catalogo-section">

    <!-- BOLSAS -->
    <div>

        <h1 id="bolsas" class="titulo-categoria">
            BOLSAS
        </h1>

        <section class="container py-5">

            <div class="row row-cols-2 row-cols-md-3 g-4">

                {% for produto in produtos %}

                    {% if 'bolsas' in produto.imagem %}

                    <div class="col">

                        <a href="{{ url_for('item', id_produto=produto.id) }}">

                            <img
                                src="{{ url_for('static', filename=produto.imagem) }}"
                                class="categoria-img"
                                alt="{{ produto.nome }}"
                            >

                        </a>

                    </div>

                    {% endif %}

                {% endfor %}

            </div>

        </section>

    </div>



    <!-- CALÇAS -->
    <div>

        <h1 id="calcas" class="titulo-categoria">
            CALÇAS
        </h1>

        <section class="container py-5">

            <div class="row row-cols-2 row-cols-md-3 g-4">

                {% for produto in produtos %}

                    {% if 'calcas' in produto.imagem %}

                    <div class="col">

                        <a href="{{ url_for('item', id_produto=produto.id) }}">

                            <img
                                src="{{ url_for('static', filename=produto.imagem) }}"
                                class="categoria-img"
                                alt="{{ produto.nome }}"
                            >

                        </a>

                    </div>

                    {% endif %}

                {% endfor %}

            </div>

        </section>

    </div>



    <!-- CAMISAS -->
    <div>

        <h1 id="camisas" class="titulo-categoria">
            CAMISAS
        </h1>

        <section class="container py-5">

            <div class="row row-cols-2 row-cols-md-3 g-4">

                {% for produto in produtos %}

                    {% if 'camisas' in produto.imagem %}

                    <div class="col">

                        <a href="{{ url_for('item', id_produto=produto.id) }}">

                            <img
                                src="{{ url_for('static', filename=produto.imagem) }}"
                                class="categoria-img"
                                alt="{{ produto.nome }}"
                            >

                        </a>

                    </div>

                    {% endif %}

                {% endfor %}

            </div>

        </section>

    </div>



    <!-- CASACOS -->
    <div>

        <h1 id="casacos" class="titulo-categoria">
            CASACOS
        </h1>

        <section class="container py-5">

            <div class="row row-cols-2 row-cols-md-3 g-4">

                {% for produto in produtos %}

                    {% if 'casacos' in produto.imagem %}

                    <div class="col">

                        <a href="{{ url_for('item', id_produto=produto.id) }}">

                            <img
                                src="{{ url_for('static', filename=produto.imagem) }}"
                                class="categoria-img"
                                alt="{{ produto.nome }}"
                            >

                        </a>

                    </div>

                    {% endif %}

                {% endfor %}

            </div>

        </section>

    </div>



    <!-- SAPATOS -->
    <div>

        <h1 id="sapatos" class="titulo-categoria">
            SAPATOS
        </h1>

        <section class="container py-5">

            <div class="row row-cols-2 row-cols-md-3 g-4">

                {% for produto in produtos %}

                    {% if 'sapatos' in produto.imagem %}

                    <div class="col">

                        <a href="{{ url_for('item', id_produto=produto.id) }}">

                            <img
                                src="{{ url_for('static', filename=produto.imagem) }}"
                                class="categoria-img"
                                alt="{{ produto.nome }}"
                            >

                        </a>

                    </div>

                    {% endif %}

                {% endfor %}

            </div>

        </section>

    </div>



    <!-- CHAPÉUS -->
    <div>

        <h1 id="chapeus" class="titulo-categoria">
            CHAPÉUS
        </h1>

        <section class="container py-5">

            <div class="row row-cols-2 row-cols-md-3 g-4">

                {% for produto in produtos %}

                    {% if 'chapeus' in produto.imagem %}

                    <div class="col">

                        <a href="{{ url_for('item', id_produto=produto.id) }}">

                            <img
                                src="{{ url_for('static', filename=produto.imagem) }}"
                                class="categoria-img"
                                alt="{{ produto.nome }}"
                            >

                        </a>

                    </div>

                    {% endif %}

                {% endfor %}

            </div>

        </section>

    </div>



    <!-- PIJAMAS -->
    <div>

        <h1 id="pijamas" class="titulo-categoria">
            PIJAMAS
        </h1>

        <section class="container py-5">

            <div class="row row-cols-2 row-cols-md-3 g-4">

                {% for produto in produtos %}

                    {% if 'pijamas' in produto.imagem %}

                    <div class="col">

                        <a href="{{ url_for('item', id_produto=produto.id) }}">

                            <img
                                src="{{ url_for('static', filename=produto.imagem) }}"
                                class="categoria-img"
                                alt="{{ produto.nome }}"
                            >

                        </a>

                    </div>

                    {% endif %}

                {% endfor %}

            </div>

        </section>

    </div>



    <!-- CINTOS -->
    <div>

        <h1 id="cintos" class="titulo-categoria">
            CINTOS
        </h1>

        <section class="container py-5">

            <div class="row row-cols-2 row-cols-md-3 g-4">

                {% for produto in produtos %}

                    {% if 'cintos' in produto.imagem %}

                    <div class="col">

                        <a href="{{ url_for('item', id_produto=produto.id) }}">

                            <img
                                src="{{ url_for('static', filename=produto.imagem) }}"
                                class="categoria-img"
                                alt="{{ produto.nome }}"
                            >

                        </a>

                    </div>

                    {% endif %}

                {% endfor %}

            </div>

        </section>

    </div>



    <!-- MAQUIAGENS -->
    <div>

        <h1 id="maquiagens" class="titulo-categoria">
            MAQUIAGENS
        </h1>

        <section class="container py-5">

            <div class="row row-cols-2 row-cols-md-3 g-4">

                {% for produto in produtos %}

                    {% if 'maquiagens' in produto.imagem %}

                    <div class="col">

                        <a href="{{ url_for('item', id_produto=produto.id) }}">

                            <img
                                src="{{ url_for('static', filename=produto.imagem) }}"
                                class="categoria-img"
                                alt="{{ produto.nome }}"
                            >

                        </a>

                    </div>

                    {% endif %}

                {% endfor %}

            </div>

        </section>

    </div>



    <!-- JOIAS -->
    <div>

        <h1 id="joias" class="titulo-categoria">
            JOIAS
        </h1>

        <section class="container py-5">

            <div class="row row-cols-2 row-cols-md-3 g-4">

                {% for produto in produtos %}

                    {% if 'joias' in produto.imagem %}

                    <div class="col">

                        <a href="{{ url_for('item', id_produto=produto.id) }}">

                            <img
                                src="{{ url_for('static', filename=produto.imagem) }}"
                                class="categoria-img"
                                alt="{{ produto.nome }}"
                            >

                        </a>

                    </div>

                    {% endif %}

                {% endfor %}

            </div>

        </section>

    </div>

</section>

{% endblock %}