{% extends "base.html" %}

{% block titulo %}/Home{% endblock %}

{% block content %}

<!-- Banner -->
<section class="hero">

    <div id="demo"
        class="carousel slide"
        data-bs-ride="carousel">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='imagens/banner/banner_bolsa.jpeg') }}"
                    class="banner-img"
                    alt="Banner Bolsa">
            </div>

            <div class="carousel-item">
                <img src="{{ url_for('static', filename='imagens/banner/banner_conjunto.jpeg') }}"
                    class="banner-img"
                    alt="Banner Conjunto">
            </div>

            <div class="carousel-item">
                <img src="{{ url_for('static', filename='imagens/banner/banner_sapato.jpeg') }}"
                    class="banner-img"
                    alt="Banner Sapato">
            </div>

        </div>

        <!-- Controles -->
        <button class="carousel-control-prev"
            type="button"
            data-bs-target="#demo"
            data-bs-slide="prev">

            <span class="carousel-control-prev-icon"></span>

        </button>

        <button class="carousel-control-next"
            type="button"
            data-bs-target="#demo"
            data-bs-slide="next">

            <span class="carousel-control-next-icon"></span>

        </button>

    </div>

</section>


<!-- Grade de categorias -->
<section class="container py-5">

    <div class="row row-cols-2 row-cols-md-5 g-4">

        <div class="col">
            <img src="{{ url_for('static', filename='imagens/home/bolsa.png') }}"
                class="categoria-img"
                alt="Bolsa">
        </div>

        <div class="col">
            <img src="{{ url_for('static', filename='imagens/home/calca.png') }}"
                class="categoria-img"
                alt="Calça">
        </div>

        <div class="col">
            <img src="{{ url_for('static', filename='imagens/home/camisa.png') }}"
                class="categoria-img"
                alt="Camisa">
        </div>

        <div class="col">
            <img src="{{ url_for('static', filename='imagens/home/casaco.png') }}"
                class="categoria-img"
                alt="Casaco">
        </div>

        <div class="col">
            <img src="{{ url_for('static', filename='imagens/home/chapeu.png') }}"
                class="categoria-img"
                alt="Chapéu">
        </div>

        <div class="col">
            <img src="{{ url_for('static', filename='imagens/home/cinto.png') }}"
                class="categoria-img"
                alt="Cinto">
        </div>

        <div class="col">
            <img src="{{ url_for('static', filename='imagens/home/joias.png') }}"
                class="categoria-img"
                alt="Joias">
        </div>

        <div class="col">
            <img src="{{ url_for('static', filename='imagens/home/maquiagem.png') }}"
                class="categoria-img"
                alt="Maquiagem">
        </div>

        <div class="col">
            <img src="{{ url_for('static', filename='imagens/home/pijama.png') }}"
                class="categoria-img"
                alt="Pijama">
        </div>

        <div class="col">
            <img src="{{ url_for('static', filename='imagens/home/salto.png') }}"
                class="categoria-img"
                alt="Salto">
        </div>

    </div>

</section>

{% endblock %}