{% extends "base.html" %}

{% block titulo %}/Login{% endblock %}

{% block content %}

<section class="login-section">

    <div class="login-box">

        <div class="login-form-area">

            <h1 class="titulo-login">
                Entrar
            </h1>

            <form method="POST" class="login-form">

                <input
                    type="email"
                    name="email"
                    placeholder="EMAIL"
                    required
                >

                <input
                    type="password"
                    name="senha"
                    placeholder="SENHA"
                    required
                >

                <button type="submit">

                    LOGIN

                </button>

            </form>

            <div class="cadastro-link">

                <p>Não tem conta?</p>

                <a href="{{ url_for('cadastro') }}">
                    Cadastre-se aqui
                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}