{% extends "base.html" %}

{% block titulo %}/Login{% endblock %}

{% block content %}

<section class="login-section">

    <div class="login-box">

        <div class="login-form-area">

            <h1>Entrar</h1>

            <form method="POST">

                <input
                    type="email"
                    name="email"
                    placeholder="EMAIL"
                    required>

                <input
                    type="password"
                    name="senha"
                    placeholder="SENHA"
                    required>

                <button type="submit">

                    LOGIN

                </button>

            </form>

        </div>

    </div>

</section>

{% endblock %}