{% extends "base.html" %}

{% block titulo %}/Meus Pedidos{% endblock %}

{% block content %}

<section class="container py-5">

    <h1 class="titulo-login text-center mb-5">
        Meus Pedidos
    </h1>

    {% for pedido in pedidos %}

    <div class="pedido-card">

        <h3>
            Pedido #{{ pedido.numero }}
        </h3>

        <p>
            Data: {{ pedido.data }}
        </p>

        <p>
            Total: R$ {{ pedido.total }}
        </p>

        <hr>

        {% for produto in pedido.produtos %}

        <div class="d-flex align-items-center gap-4 mb-3">

            <img
                src="{{ url_for('static', filename=produto.imagem) }}"
                width="90"
            >

            <div>

                <h5>{{ produto.descricao }}</h5>

                <p>
                    Quantidade: {{ produto.quantidade }}
                </p>

                <p>
                    R$ {{ produto.preco }}
                </p>

            </div>

        </div>

        {% endfor %}

    </div>

    {% endfor %}

</section>

{% endblock %}