{% extends "base.html" %}

{% block titulo %}/Pedido{% endblock %}

{% block content %}

<section class="container py-5">

    <h1>Pedido #{{ id_pedido }}</h1>

    <hr>

    {% for item in itens %}

        <div class="mb-3">

            <h4>{{ item.nome }}</h4>

            <p>
                Quantidade: {{ item.quantidade }}
            </p>

            <p>
                Preço: R$ {{ item.preco }}
            </p>

            <p>
                Subtotal: R$ {{ item.subtotal }}
            </p>

        </div>

        <hr>

    {% endfor %}

    <h3>
        Total: R$ {{ total }}
    </h3>

</section>

{% endblock %}